<%
  const localsSafe = locals || {};
  const tag = localsSafe.tag === 'a' ? 'a' : 'button'; // a 또는 button
  const url = localsSafe.url || '#!';
  const variant = localsSafe.variant || ''; // default, text, link, icon
  const hierarchy = localsSafe.hierarchy || ''; // primary, secondary, tertiary
  const size = localsSafe.size || 'large'; // xsmall, small, medium, large
  const disabled = localsSafe.disabled ? 'disabled' : '';
  const addClass = localsSafe.addClass || '';
  const label = localsSafe.label || '버튼';
  const preSlot = localsSafe.preSlot || '';
  const preIcon = localsSafe.preIcon || '';
  const icon = localsSafe.icon || '';
  const slot = localsSafe.slot || '';
	const iconOnly = localsSafe.iconOnly || '';
	const targetId = localsSafe.targetId || '';
	const classes = [
    `btn`,
    variant,
    variant === 'icon' ? '' : hierarchy,
    size,
    addClass,
		// iconOnly ? 'icon' : '',
  ].filter(Boolean).join(' ');
-%>
<<%= tag -%>
  <%- tag === 'button' ? `type="button"` : `href="${url}"` -%>
	<%= disabled -%>
  class="<%= classes -%>"
	<%- targetId ? `aria-controls="${targetId}"` : '' -%>
>
<%- preSlot %>
<%- preIcon ? `<i class="svg-icon icon-${preIcon}"></i>` : '' %>
<%- variant === 'icon' ? `<span class="sr-only">${label}</span>` : `<span>${label}</span>` %>
<%- icon ? `<i class="svg-icon icon-${icon}"></i>` : '' %>
<%- slot %>
</<%= tag -%>> 