<%
  const localsSafe = locals || {};
  const tag = localsSafe.tag === 'a' ? 'a' : 'button'; // a 또는 button
  const url = localsSafe.url || '#!';
  const variant = localsSafe.variant || ''; // default, text, link, icon
  const hierarchy = localsSafe.hierarchy || ''; // primary, secondary, tertiary
  const size = localsSafe.size || 'large'; // xsmall, small, medium, large
  const disabled = localsSafe.disabled ? 'disabled' : '';
  const addClass = localsSafe.addClass || '';
  const label = localsSafe.label || '버튼';
  const preSlot = localsSafe.preSlot || '';
  const preIcon = localsSafe.preIcon || '';
  const icon = localsSafe.icon || '';
  const slot = localsSafe.slot || '';
	const iconOnly = localsSafe.iconOnly || '';
	const target = localsSafe.target || '';
	const targetId = localsSafe.targetId || '';
	const targetType = localsSafe.targetType || ''; //modal, popover
	const popoverPos = localsSafe.popoverPos || ''; // 예: "bottom-left", "top-center"
  const download = localsSafe.download || false;
  const toast = localsSafe.toast || '';
	const classes = [
    `btn`,
    variant,
    variant === 'icon' ? '' : hierarchy,
    size,
    addClass,
  ].filter(Boolean).join(' ');

	let targetAttrs = '';
  if (targetId && targetType === 'modal') {
    targetAttrs = `data-modal-open="${targetId}" aria-controls="${targetId}"`;
  } else if (targetId && targetType === 'popover') {
    targetAttrs = `data-popover-open="${targetId}" aria-controls="${targetId}" aria-haspopup="true"`;
		if (popoverPos) {
      targetAttrs += ` data-popover-pos="${popoverPos}"`;
    }
  } else if (targetId && targetType === 'tooltip') {
    targetAttrs = `data-tooltip-open="${targetId}" aria-describedby="${targetId}"`;
  }

  let toastAttrs = '';
  if (toast) {
    toastAttrs = `data-toast="${toast}"`;
  }

	let linkAttrs = '';
  if (tag === 'a') {
    if (download) {
      linkAttrs += ` download=""`;
    }
    if (target) {
      linkAttrs += ` target="${target}"`;
      if (target === '_blank') {
        linkAttrs += `title="새창열림"`;
      }
    }
  }
-%>
<<%= tag -%>
  <%- tag === 'button' ? `type="button"` : `href="${url}"` -%>
	<%- linkAttrs -%>
  <%- tag === 'a' && download ? `download=""` : '' -%>
	<%= disabled -%>
  class="<%= classes -%>"
	<%- targetAttrs -%>
  <%- toastAttrs -%>
>
<%- preSlot -%>
<%- preIcon ? `<i class="svg-icon icon-${preIcon}"></i>` : '' %>
<%- variant === 'icon' ? `<span class="sr-only">${label}</span>` : `<span>${label}</span>` -%>
<%- icon ? `<i class="svg-icon icon-${icon}"></i>` : '' %>
<%- slot -%>
</<%= tag -%>> 