<%
  const localsSafe = locals || {};
  const variant = localsSafe.variant || ''; // checkbox, check(체크 아이콘)
  const size = localsSafe.size || ''; // medium, large
  const state = localsSafe.state || ''; // default, checked
	const disabled = localsSafe.disabled ? 'disabled' : '';
  const label = localsSafe.label || '체크박스';
	const hideLabel = localsSafe.hideLabel || false;
	const iconPos = localsSafe.iconPos || ''; //left, right
	const slot = localsSafe.slot || ''; // 추가 내용 넣기
	const addClass = localsSafe.addClass || ''; 
	const classes = [
    `form-check`,
    size,
		variant === 'check' ? 'check-icon' : '', 
		iconPos === 'right' ? 'icon-right' : '',
		addClass
  ].filter(Boolean).join(' ');

	const id = localsSafe.id ? `chk-${localsSafe.id}` : `chk-${Math.random().toString(36).substring(2, 9)}`;
-%>
<div class="<%= classes %>">
	<input 
		type="checkbox" 
		id="<%= id %>" 
		<%= state === 'checked' ? 'checked' : '' %>
		<%= disabled %>
	>
	<label for="<%= id %>">
		<%_ if (slot) { -%>
			<span class="sr-only"><%= label %></span>
      <%- slot %>
		<%_ } else if(hideLabel) { -%>
			<span class="sr-only"><%= label %></span>
		<%_ } else { -%>
			<span><%- label %></span>
		<%_ } -%>
	</label>
</div>