<footer class="footer">
	<div class="inner">
		<div class="footer-top">
			<div class="logo"><span class="sr-only">한화자산운용</span></div>
		</div>
		<div class="footer-con">
			<ul class="address">
				<li>07345 서울시 영등포구 63로 50 한화금융센터</li>
				<li>대표번호 02-6950-0000 </li>
				<li>팩스 02-6950-0009</li>
				<li>한화자산운용㈜ 준법감시인 심사필 제2025-525호(2025.10.02~2026.10.01)</li>
			</ul>
			<div class="nav">
				<ul class="link-list">
					<li><a href="#!">스튜어드십코드</a></li>
					<li><a href="#!">개인정보처리방침</a></li>
					<li><a href="#!">신용정보활용체계</a></li>
					<li><a href="#!">고객정보취급방침</a></li>
					<!-- [2025-12-01] 마크업 수정 -->
					<li><button data-modal-open="modalEmailCollection" aria-controls="modalEmailCollection">이메일무단수집거부</button></li>
					<!-- // [2025-12-01] 마크업 수정 -->
				</ul>
				<ul class="link-list">
					<li><a href="#!">윤리경영</a></li>
					<li><a href="#!">법적고시</a></li>
					<li><a href="#!">보험금융상품등록</a></li>
					<li><a href="#!">금융소비자보호포탈</a></li>
				</ul>
			</div>
			<div class="util">
				<div class="family-site">
					<%- include('../components/select.ejs', {
						size: 'medium',
						name: 'family-site',
						addClass: 'bg-gray ico-plus',
						placeholder: '패밀리 사이트',
						options: [
							{ value: 'site1', text: '사이트 1' },
							{ value: 'site2', text: '사이트 2' },
						]
					}) -%>
				</div>
				<ul class="sns-list">
					<li>
						<%- include('../components/button.ejs', {
							tag: 'a',
							variant: 'icon',
							label: 'youtube',
							size: 'xxxlarge',
							icon: 'youtube',
							addClass: 'bg-deep-gray round'
						}) -%>
					</li>
					<li>
						<%- include('../components/button.ejs', {
							tag: 'a',
							variant: 'icon',
							label: 'instagram',
							size: 'xxxlarge',
							icon: 'instagram',
							addClass: 'bg-deep-gray round'
						}) -%>
					</li>
					<li>
						<%- include('../components/button.ejs', {
							tag: 'a',
							variant: 'icon',
							label: 'blog',
							size: 'xxxlarge',
							icon: 'blog',
							addClass: 'bg-deep-gray round'
						}) -%>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer-bottom">
			<p class="copyright">ⓒ Hanwha Asset Management Co., Ltd. All Rights Reserved.</p>
		</div>
		<div class="footer-btn-top">
			<%- include('../components/button.ejs', {
				tag: 'a',
				label: 'TOP',
				preIcon: 'arrow-up',
			}) -%>
		</div>
	</div>

	<!-- popup 이메일무단수집거부 -->
	<%- include('../components/modal.ejs', {
		id: 'modalEmailCollection',
		variant: 'modal',
		title: '이메일주소 무단수집거부',
		content: `
		<p>본 웹사이트에 게시된 이메일 주소가 전자우편 수집 프로그램이나 그 밖의 기술적 장치를 이용하여 무단으로 수집 되는 것을 거부하며, 이를 위반 시 정보통신법에 의해 형사 처벌됨을 유념하여 주시기 바랍니다.</p>
		`,
	}) %>
	<!-- // popup 이메일무단수집거부 -->
</footer>
