<%
	const localsSafe = locals || {};
  const addClass = localsSafe.addClass || '';
-%>
<header class="header <%= addClass %>">
	<div class="header-top">
			<div class="inner">
				<ul class="link">
					<li class="logo-plusetf"><a href="#!"><span class="sr-only">PLUS ETF</span></a></li>
					<li class="logo-pine"><a href="#!"><span class="sr-only">PINE</span></a></li>
				</ul>
			</div>
		</div>
		<div class="header-con">
			<div class="inner">
				<h1 class="logo"><span class="sr-only">한화자산운용</span></h1>
				<nav class="nav">
					<ul>
						<li><a href="#!">한화펀드</a></li>
						<li><a href="#!">인사이트</a></li>
						<li><a href="#!">공시안내</a></li>
						<li><a href="#!">회사소개</a></li>
					</ul>
				</nav>
				<div class="util">
					<div class="lang">
						<%- include('../components/select.ejs', {
							variant: 'text',
							size: 'small',
							name: 'language-select',
							options: [
								{ value: 'KR', text: 'KR' },
								{ value: 'EN', text: 'EN' },
							]
						}) -%>
					</div>
					<%- include('../components/button.ejs', {
						variant: 'icon',
						label: '검색',
						size: 'xxlarge',
						icon: 'search',
						targetType: 'modal',
						targetId: 'modalSearch',
					}) -%>
					<%- include('../components/button.ejs', {
						variant: 'icon',
						label: '메뉴',
						size: 'xxlarge',
						icon: 'menu',
					}) -%>
				</div>
			</div>
		</div>
</header>

<!-- 검색 팝업  -->
<% 
const searchIcon = include('../components/button.ejs', { variant: 'icon', label: '검색', size: 'xxlarge', icon: 'search'}); 
const searchInput = include('../components/input.ejs', {
	ariaLabel: "펀드명 입력",
	size: 'xlarge',
	placeholder: '펀드명을 입력하세요',
	value: '투자신탁',
	slot: searchIcon,
	addClass: 'line search'
});
const tag = include('../components/tag.ejs', {
	variant: 'text',
	tagList: ['#ETF', '#월배당ETF', '#바이오', '#자산분배형', '#ESG'],
	size: 'medium'
});
-%>
<%- include('../components/modal.ejs', {
	id: 'modalSearch',
	variant: 'top-sheet',
	headerSlot: `<div class="logo"><span class="sr-only">한화자산운용</span></div>`,
	content: `
	<div class="search-wrap">
		<div class="search-con">
			${searchInput}
			${tag}
		</div>
	</div>
	`,
}) %>
<!-- 검색 팝업 -->