<%
	const localsSafe = locals || {};
  const addClass = localsSafe.addClass || '';
-%>
<header class="header <%= addClass %>">
	<div class="header-top">
		<div class="inner">
			<ul class="link">
				<li class="logo-plusetf"><a href="#!"><span class="sr-only">PLUS ETF</span></a></li>
				<li class="logo-pine"><a href="#!"><span class="sr-only">PINE</span></a></li>
			</ul>
		</div>
	</div>
	<div class="header-con">
		<div class="inner">
			<h1 class="logo"><span class="sr-only">한화자산운용</span></h1>
			<!-- [2025-11-25] 마크업 수정 -->
			<nav class="nav">
				<ul class="gnb-list">
					<li class="gnb-item active">
						<a href="#!" class="gnb-link">한화펀드</a>
						<ul class="submenu">
							<li><a href="#!" class="submenu-link active">펀드찾기</a></li>
							<!-- [2025-12-29] 마크업 수정 -->
							<li><a href="#!" class="submenu-link">개인연금</a></li>
							<li><a href="#!" class="submenu-link">퇴직연금</a></li>
							<li><a href="#!" class="submenu-link">TDF</a></li>
							<!-- // [2025-12-29] 마크업 수정 -->
							<li><a href="#!" class="submenu-link">PLUS ETF</a></li>
						</ul>
					</li>
					<li class="gnb-item">
						<a href="#!" class="gnb-link">인사이트</a>
						<ul class="submenu">
							<li><a href="#!" class="submenu-link">공지</a></li>
							<li><a href="#!" class="submenu-link">투자정보</a></li>
							<li><a href="#!" class="submenu-link">시황</a></li>
							<li><a href="#!" class="submenu-link">뉴스룸</a></li>
							<li><a href="#!" class="submenu-link">자주 묻는 질문</a></li>
						</ul>
					</li>
					<li class="gnb-item">
						<a href="#!" class="gnb-link">공시안내</a>
						<ul class="submenu">
							<li><a href="#!" class="submenu-link">전체공시</a></li>
							<li><a href="#!" class="submenu-link">펀드공시</a></li>
							<li><a href="#!" class="submenu-link">경영공시</a></li>
							<li><a href="#!" class="submenu-link">리츠공시</a></li>
							<li><a href="#!" class="submenu-link">연금공시</a></li>
						</ul>
					</li>
					<li class="gnb-item">
						<a href="#!" class="gnb-link">회사소개</a>
						<ul class="submenu">
							<li><a href="#!" class="submenu-link">한화자산운용 소개</a></li>
							<li><a href="#!" class="submenu-link">글로벌 네트워크</a></li>
							<li><a href="#!" class="submenu-link">경영현황</a></li>
							<li><a href="#!" class="submenu-link">운용시스템</a></li>
							<li><a href="#!" class="submenu-link">채용정보</a></li>
							<li><a href="#!" class="submenu-link">오시는 길</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<!-- // [2025-11-25] 마크업 수정 -->
			<div class="util">
				<div class="lang">
					<%- include('../components/select.ejs', {
						variant: 'text',
						size: 'small',
						name: 'language-select',
						options: [
							{ value: 'KR', text: 'KR' },
							{ value: 'EN', text: 'EN' },
						]
					}) -%>
				</div>
				<%- include('../components/button.ejs', {
					variant: 'icon',
					label: '검색',
					size: 'xxlarge',
					icon: 'search',
					targetType: 'modal',
					targetId: 'modalSearch',
				}) -%>
				<%- include('../components/button.ejs', {
					variant: 'icon',
					label: '메뉴',
					size: 'xxlarge',
					icon: 'menu',
					targetType: 'modal',
					targetId: 'modalAllMenu',
				}) -%>
			</div>
		</div>
	</div>
	
	<!-- [2025-11-25] 팝업 위치 수정, header-search 클래스 추가 -->
	<!-- popup 검색  -->
	<% 
	const searchIcon = include('../components/button.ejs', { variant: 'icon', label: '검색', size: 'xxlarge', icon: 'search'}); 
	const searchInput = include('../components/input.ejs', {
		ariaLabel: "펀드명 입력",
		size: 'xlarge',
		placeholder: '펀드명을 입력하세요',
		value: '투자신탁',
		slot: searchIcon,
		addClass: 'line search'
	});
	const tag = include('../components/tag.ejs', {
		variant: 'text',
		tagList: ['#ETF', '#월배당ETF', '#바이오', '#자산분배형', '#ESG'],
		size: 'medium'
	});
	-%>
	<%- include('../components/modal.ejs', {
		id: 'modalSearch',
		variant: 'top-sheet',
		headerSlot: `<div class="logo"><span class="sr-only">한화자산운용</span></div>`,
		content: `
		<div class="search-wrap">
			<div class="search-con">
				${searchInput}
				${tag}
			</div>
		</div>
		`,
		addClass: 'header-search'
	}) %>
	<!-- popup 검색 -->
	<!-- [2025-11-25] 팝업 위치 수정, header-search 클래스 추가 -->
	
	<!-- [2025-11-25] 팝업 추가 -->
	<!-- popup 전체메뉴  -->
	<% 
	const menuLang = include('../components/select.ejs', {
		variant: 'text',
		size: 'small',
		name: 'language-select',
		options: [
			{ value: 'KR', text: 'KR' },
			{ value: 'EN', text: 'EN' },
		]
	});
	
	const menuSearch = include('../components/button.ejs', {
		variant: 'icon',
		label: '검색',
		size: 'xxlarge',
		icon: 'search',
		targetType: 'modal',
		targetId: 'modalSearch',
	});
	
	const menuClose = include('../components/button.ejs', {
		variant: 'icon',
		label: '닫기',
		size: 'xxlarge',
		icon: 'close',
		addClass: 'btn-close'
	});
	
	const allMenuHeader = 
	`<div class="header-top">
			<div class="inner">
				<ul class="link">
					<li class="logo-plusetf"><a href="#!"><span class="sr-only">PLUS ETF</span></a></li>
					<li class="logo-pine"><a href="#!"><span class="sr-only">PINE</span></a></li>
				</ul>
			</div>
		</div>
		<div class="header-con">
			<div class="inner">
				<h1 class="logo"><span class="sr-only">한화자산운용</span></h1>
				<div class="util">
					<div class="lang">
						${menuLang}
					</div>
					${menuSearch}
					${menuClose}
				</div>
			</div>
		</div>`;
	-%>
	<%- include('../components/modal.ejs', {
		id: 'modalAllMenu',
		variant: 'top-sheet',
		headerSlot: allMenuHeader,
		content: 
		`<div class="sitemap-wrap">
			<ul class="sitemap-list">
				<li class="sitemap-item">
					<a href="#!" class="depth1"><span>한화펀드</span></a>
					<ul class="submenu">
						<li><a href="#!" class="depth2">펀드찾기</a></li>
						<!-- [2025-12-29] 마크업 수정 -->
						<li><a href="#!" class="depth2">개인연금</a></li>
						<li><a href="#!" class="depth2">퇴직연금</a></li>
						<li><a href="#!" class="depth2">TDF</a></li>
						<!-- // [2025-12-29] 마크업 수정 -->
						<li><a href="#!" class="depth2 link">PLUS ETF</a></li>
					</ul>
				</li>	
				<li class="sitemap-item">
					<a href="#!" class="depth1"><span>인사이트</span></a>
					<ul class="submenu">
						<li><a href="#!" class="depth2">공지</a></li>
						<li><a href="#!" class="depth2">투자정보</a></li>
						<li><a href="#!" class="depth2">시황</a></li>
						<li><a href="#!" class="depth2">뉴스룸</a></li>
						<li><a href="#!" class="depth2">자주 묻는 질문</a></li>
					</ul>
				</li>
				<li class="sitemap-item">
					<a href="#!" class="depth1"><span>공시안내</span></a>
					<ul class="submenu">
						<li><a href="#!" class="depth2">전체공시</a></li>
						<li><a href="#!" class="depth2">펀드공시</a></li>
						<li><a href="#!" class="depth2">경영공시</a></li>
						<li><a href="#!" class="depth2">리츠공시</a></li>
						<li><a href="#!" class="depth2">연금공시</a></li>	
					</ul>
				</li>
				<li class="sitemap-item company">
					<a href="#!" class="depth1"><span>회사소개</span></a>
					<ul class="submenu">
						<li><a href="#!" class="depth2">한화자산운용 소개</a></li>
						<li><a href="#!" class="depth2">글로벌 네트워크</a></li>
						<li>
							<a href="#!" class="depth2">경영현황</a>
							<ul class="submenu">
								<li><a href="#!" class="depth3">요약 연결포괄 손익계산서</a></li>
								<li><a href="#!" class="depth3">요약 연결재무상태표</a></li>
							</ul>
						</li>
						<li>
							<a href="#!" class="depth2">운용시스템</a>
							<ul class="submenu">
								<li><a href="#!" class="depth3">운용모니터링 체계</a></li>
								<li><a href="#!" class="depth3">리스크 관리</a></li>
								<li><a href="#!" class="depth3">내부통제 점검체계</a></li>
							</ul>
						</li>
						<li>
							<a href="#!" class="depth2">채용정보</a>
							<ul class="submenu">
								<li><a href="#!" class="depth3">한화 인재상</a></li>
								<li><a href="#!" class="depth3">복리후생</a></li>
								<li><a href="#!" class="depth3">채용</a></li>
							</ul>
						</li>
						<li><a href="#!" class="depth2">오시는 길</a></li>	
					</ul>
				</li>
			</ul>
		</div>`,
		addClass: 'sitemap'
	}) %>
	<!-- // popup 전체메뉴  -->
	<!-- // [2025-11-25] 팝업 추가 -->
</header>