<% 
	const title = locals.title ? locals.title : ''; 
	const keyword = locals.keyword ? locals.keyword : '한화자산운용 ,한화운용 ,한화펀드 ,한화자산 ,그린히어로펀드 ,헤라클레스펀드'; 
	const desc = locals.desc ? locals.desc : '세대를 아우르는 금융 파트너, 한화자산운용입니다.'; 
	const img = locals.img ? locals.img : ''; 
	const url = locals.url ? locals.url : ''; 

	const finalTitle = title ? `${title} | 한화자산운용` : '한화자산운용';
-%>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- [2026-01-14] 수정 -->
<meta name="keywords" content="<%= keyword %>" />
<meta name="description" content="<%= desc %>">
<!-- // [2026-01-14] 수정 -->
<meta name="robots" content="index, follow">
<meta property="og:type" content="website">
<meta property="og:title" content="<%= finalTitle %>">
<!-- [2026-01-14] 수정 -->
<meta property="og:description" content="<%= desc %>">
<!-- // [2026-01-14] 수정 -->
<!-- <meta property="og:image" content="<%#= img %>"> -->
<!-- <meta property="og:url" content="<%#= url %>"> -->
<meta name="format-detection" content="telephone=no" />
<link rel="apple-touch-icon" sizes="180x180" href="~@/assets/images/common/favicon_180.png" />
<link rel="icon" type="image/png" sizes="512x512" href="~@/assets/images/common/favicon_512.png" />
<link rel="icon" type="image/png" sizes="192x192" href="~@/assets/images/common/favicon_192.png" />
<link rel="icon" type="image/png" sizes="32x32" href="~@/assets/images/common/favicon_32.png" />
<title><%- finalTitle %></title>

<script src="../../assets/js/jquery3.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<script src="../../assets/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="../../assets/js/bootstrap-datepicker.ko.min.js" type="text/javascript"></script>
<script src="../../assets/js/gsap.min.js" type="text/javascript"></script>
<script src="../../assets/js/ScrollTrigger.min.js" type="text/javascript"></script>
<script src="../../assets/js/swiper-bundle.min.js" type="text/javascript"></script>
<script src="../../assets/js/ui.common.js" type="text/javascript"></script>
<link href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" rel="stylesheet">
<link href="../../assets/css/bootstrap-datepicker3.standalone.min.css" rel="stylesheet">
<link href="../../assets/css/swiper-bundle.min.css" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.js"></script>
