<%
const localsSafe = locals || {};
const type = locals.type || '';
const wrapClass = (type === 'gray') ? 'bg-gray' : '';
const isMotion = (locals.motion !== false);
const badgeLabel = locals.badgeLabels || ['국내', '주식', '글로벌'];
const commonBadges = badgeLabel.map((text, index) => {
	return {
		label: text,
		variant: 'solid',
		color: 'light-orange'
	};
});
const cards = [
	{
		title: '선진국액티브증권자투자신탁(H)(주식)C-Pe(연금저축)',
		desc: '종류 C-e(수수료미징구-온라인)',
		rate: 2.56,
		price: '1,452.33',
		assets: '3억원',
	},
	{
		title: '한화코리아레전드4차산업혁명증권자투자신탁(주식)종류A',
		desc: '종류 C-e(수수료미징구-온라인)',
		rate: null,
		price: '1,452.33',
		assets: '3억원',
	},
	{
		title: '한화그린히어로증권자투자신탁(주식) A',
		desc: '종류 C-e(수수료미징구-온라인)',
		rate: -13.36,
		price: '1,452.33',
		assets: '3억원',
	},
	{
		title: '선진국액티브증권자투자신탁(H)(주식)C-Pe(연금저축)',
		desc: '종류 C-e(수수료미징구-온라인)',
		rate: 2.56,
		price: '1,452.33',
		assets: '3억원',
	},
];
%>

<div class="card-list-wrap <%= wrapClass %>">
  <ul class="card-list">
    <% cards.forEach((card, index) => { %>
      <% 
        let rateClass = '';
        let rateText = '-';
        
        if (typeof card.rate === 'number') {
					rateText = `${card.rate}<small>%</small>`;
					if (card.rate > 0) rateClass = 'up';
					else if (card.rate < 0) rateClass = 'down';
        }

				let motionClass = '';
        let motionAttr = '';

        if (isMotion) {
          const delay = 0.1 * (index + 1);
          motionClass = ' motion fade-up';
          motionAttr = `data-delay="${delay}"`;
        }
      %>
      <li class="card-item <%= motionClass %>" <%- motionAttr %>>
        <a href="#!">
          <div class="card-top">
						<!-- [2025-12-12] badge 컬러 light-orange 로 변경 -->
            <%- include('../components/badge.ejs', { 
              badgeItems: commonBadges
            }) -%>
						<!-- // [2025-12-12] badge 컬러 light-orange 로 변경 -->
            <p class="tit"><%= card.title %></p>
            <p class="desc"><%= card.desc %></p>
          </div>
          <div class="card-con">
            <div class="chart-area line">
              <div class="chart">
                </div>
            </div>
            <div class="info-list">
              <dl class="txt-emphasis <%= rateClass %>">
                <dt>3개월 수익률</dt>
                <dd><%- rateText %></dd>
              </dl>
              <dl>
                <dt>기준가</dt>
                <dd><%= card.price %>원</dd>
              </dl>
              <dl>
                <dt>순자산</dt>
                <dd><%= card.assets %></dd>
              </dl>
            </div>
          </div>
        </a>
      </li>
    <% }); %>
  </ul>

  <div class="btn-wrap array-center">
    <%- include('../components/button.ejs', {
      tag: 'a',
      label: '더보기',
      size: 'large',
      hierarchy: 'tertiary',
      addClass: 'more',
    }) -%>
  </div>
</div>